body {
  background-color: rgb(31, 23, 23);
}

.sectionHome {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 0 30px;
}

h2 {
  font-size: 30px;
  color: wheat;
  margin-bottom: 10px;
}

p {
  padding-bottom: 15px;
  text-align: justify;
  font-size: 18px;
  color: silver;
}
